---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/8722083/stats?access_token=<STRAVA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"eb99b8f0c25fd60c40c64fc0fe538119"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '1,24'
    body:
      encoding: ASCII-8BIT
      string: '{"biggest_ride_distance":173521.0,"biggest_climb_elevation_gain":1119.4,"recent_ride_totals":{"count":13,"distance":127467.8994140625,"moving_time":22052,"elapsed_time":23527,"elevation_gain":520.0,"achievement_count":32},"recent_run_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"recent_swim_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"ytd_ride_totals":{"count":37,"distance":471820,"moving_time":81940,"elapsed_time":100369,"elevation_gain":3717},"ytd_run_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"ytd_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_ride_totals":{"count":103,"distance":3247807,"moving_time":514399,"elapsed_time":641211,"elevation_gain":32764},"all_run_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0}}'
  recorded_at: Thu, 10 May 2018 17:39:27 GMT
recorded_with: VCR 4.0.0
