---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete?access_token=<STRAVA_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"2d0fe4f44484aa14fb838428ac3af9c1"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '6,30'
    body:
      encoding: ASCII-8BIT
      string: '{"id":8722083,"username":null,"resource_state":3,"firstname":"Adam","lastname":"Conway","city":"Oakland","state":"California","country":"United
        States","sex":"M","premium":false,"created_at":"2015-04-16T16:24:17Z","updated_at":"2017-12-25T00:00:07Z","badge_type_id":0,"profile_medium":"https://graph.facebook.com/10155515138087812/picture?height=256\u0026width=256","profile":"https://graph.facebook.com/10155515138087812/picture?height=256\u0026width=256","friend":null,"follower":null,"email":"adam.n.conway@gmail.com","follower_count":13,"friend_count":15,"mutual_friend_count":0,"athlete_type":0,"date_preference":"%m/%d/%Y","measurement_preference":"feet","clubs":[{"id":176219,"resource_state":2,"name":"Pooping
        Protips","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/176219/3798854/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/176219/3798854/1/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/176219/4521871/1/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/176219/4521871/1/small.jpg","sport_type":"cycling","city":"Oakland","state":"California","country":"United
        States","private":false,"member_count":57,"featured":false,"verified":false,"url":"poopingprotips","membership":"member","admin":false,"owner":false},{"id":207668,"resource_state":2,"name":"Toolbox
        For Strava","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/207668/4555276/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/207668/4555276/1/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/207668/4555299/2/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/207668/4555299/2/small.jpg","sport_type":"cycling","city":"","state":"","country":"Italia","private":false,"member_count":31581,"featured":false,"verified":false,"url":"stravatoolbox","membership":"member","admin":false,"owner":false}],"ftp":null,"weight":72.5748,"bikes":[{"id":"b4085148","primary":true,"name":"Serotta","resource_state":2,"distance":2967428.0}],"shoes":[],"subscription_permissions":[]}'
  recorded_at: Thu, 10 May 2018 21:27:14 GMT
recorded_with: VCR 4.0.0
