---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?access_token=<STRAVA_API_KEY>&page1=&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"c390703a026f578d04b357d1ab96a49f"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 32886900e88bc2bbb73a1cedb7c2da92
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '1,45'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":8722083,"resource_state":1},"name":"Afternoon
        Ride","distance":9722.9,"moving_time":1637,"elapsed_time":1773,"total_elevation_gain":63.0,"type":"Ride","workout_type":null,"id":1558877755,"external_id":"garmin_push_2684544378","upload_id":1676458632,"start_date":"2018-05-08T21:45:12Z","start_date_local":"2018-05-08T15:45:12Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-21600.0,"start_latlng":[39.75,-105.0],"end_latlng":[39.75,-104.9],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.75,"start_longitude":-105.0,"achievement_count":5,"kudos_count":2,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1558877755","summary_polyline":"_dsqFx`z_SlIr@tl@uu@^eFZgdDgB_J@kHuC[yGkNdAmKnFuKw@yQtAcWqCyIoNoBAmyGv@}B","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"b4085148","from_accepted_tag":false,"average_speed":5.939,"max_speed":8.4,"average_cadence":74.6,"average_temp":21.0,"average_watts":85.5,"kilojoules":139.9,"device_watts":false,"has_heartrate":false,"elev_high":1665.0,"elev_low":1615.4,"pr_count":0,"total_photo_count":0,"has_kudoed":false},{"resource_state":2,"athlete":{"id":8722083,"resource_state":1},"name":"Morning
        Ride","distance":9804.5,"moving_time":1779,"elapsed_time":1860,"total_elevation_gain":14.0,"type":"Ride","workout_type":null,"id":1557678557,"external_id":"garmin_push_2683118979","upload_id":1675242289,"start_date":"2018-05-08T12:13:03Z","start_date_local":"2018-05-08T06:13:03Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-21600.0,"start_latlng":[39.75,-104.89],"end_latlng":[39.75,-10[...]
[...]
